<div class="modal-body">
  <p>
    Copy the key from <a href="https://web.simple-mmo.com/p-api/home">here</a>
  </p>
  <p>
    Consider using the API key of an alt account to avoid
    <code>Too Many Requests</code> errors
  </p>
  <form id="api-form">
    <div class="form-floating">
      <input
        type="text"
        class="form-control form-control-sm"
        id="api"
        name="api"
        placeholder=""
      />
      <label for="num_results">Key</label>
    </div>
  </form>
</div>
