<div class="modal-body">
  <p>
    Your User ID is the 6-digit number at the end of your Public Profile URL (<a
      href="https://web.simple-mmo.com/user/view/613732"
      >https://web.simple-mmo.com/user/view/613732</a
    >)
  </p>
  <form id="uid-form">
    <div class="form-floating">
      <input
        type="text"
        step="1"
        class="form-control form-control-sm"
        id="uid"
        name="uid"
        placeholder=""
      />
      <label for="num_results">User ID</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="submit-uid-button">
    Submit
  </button>
</div>
